.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 32px;
    flex-direction: row;
}

.menuLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    padding: 8px;
    border-radius: 20%;
    color: var(--text-over-primary);
    transition: transform .5s ease-in-out;
}

.menuLink:hover {
    transform: rotateX(10deg) rotateY(20deg) rotateZ(2deg);
}