.cycles {}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-default);
    flex-direction: column;
    padding-bottom: 20px;
}

.cyclesPointers {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cyclePoint {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.workTime {
    background-color: var(--success);
}

.shortTime {
    background-color: var(--warning);
}

.longTime {
    background-color: var(--info);
}