.footer {

    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.footer a {
    font-size: clamp(14px, 25%, 1rem);
    color: var(--text-default);
    text-decoration: none;
}


.footer a:hover {
    text-decoration: underline;
}